*{
    padding: 0;
    margin: 0;
    font-family: 'MuseoModerno', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'MuseoModerno', cursive;
    background-color: rgb(143, 37, 37);
}
header{
    position: fixed;
    width:100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background:#A2D2FF;
    box-shadow: #708da3 5px 5px 5px 5px;
    opacity: 0.8;
    padding: 10px 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size: 2.5rem;
    font-weight: 700;
    color: #162938;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin-left: 45px;
}
.navbar a::after{
    position:absolute;
    content: '';
    right: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: black;
    border-radius: 8px;
    transition: all ease .45s;
}
.navbar a:hover::after{
    width: 100%;
}
.btnLogin-popup{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: inline-block;
    padding: 8px 32px;
    background: transparent;
    color: #162938;
    border: 2px solid #162938;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 400;
    margin-left: 45px;
    cursor: pointer;
    transition: all ease .45s;
}
.btnLogin-popup:hover{
    transform: scale(1.1);
    background: #fff;
    border: 2px solid #162938;
    color: #162928;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0.1);
    background-image: url(/img/BG4.gif);
    background-size: cover;   
    background-position: center;
}


.container{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: absolute;
    height: 530px;
    width: 460px;
    background: transparent;
    border-radius: 24px;
    border: 3px solid rgba(257, 257, 257, .4);
    backdrop-filter: blur(25px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100ox 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all ease .35s;
}
.main-box{
    padding: 50px;
    width: 100%;
}
.main-box h1{
    color: #162938;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.input-box{
    position: relative;
    height: 52px;
    width: 100%;
    border-bottom: 2px solid #162938;
    margin: 32px 0;
}
.input-box .show-password {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}
.input-box label{
    position: absolute;
    left: 6px;
    top: 8px;
    transform: translateY(-15px);
    pointer-events: none;
    color: #162938;
    font-size: 17px;
    font-weight: 500;
    transition: all ease 0.45%;
}
.input-box input{
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 600;
    color: #162938;
    padding: 0 30px 0 6px;
}

.input-box .icon{
    position: absolute;
    right: 9px;
    font-size: 19px;
    color: #162938;
    line-height: 55px;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -3px;
}
.check{
    font-size: 15px;
    font-weight: 500;
    color: #162938;
    margin: -14px 0 15px;
    display: flex;
    justify-content: space-between;
}
.check label input{
    margin-right: 5px;
    accent-color: #162938;
}
.check a{
    color: #162938;
}
.check a:hover{
    text-decoration: underline;
}
.main-btn{
    background: #162938;
    width: 100%;
    height: 43px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.register{
    text-align: center;
    color: #162938;
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0px 10px;
}
.register p a{
    font-weight: 600;
    color: #162938;
}
.register p a:hover{
    text-decoration: underline;
}

.close-icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    height: 44px;
    background: #162938;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    z-index: 1;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}


.container .main-box.login{
    transition: transform .20s ease;
    transform: translateX(10px);
}
.container .main-box.register{
    position: absolute;
    transform: translateX(500px);
    transition: none;
}


.container.active{
    height: 570px;
}
.container.active .main-box.login{
    transition: none;
    transform: translateX(-500px);
}
.container.active .main-box.register{
    transition: transform .20s ease;
    transform: translateX(0px);
}

.container{
    transform: scale(0);
}
.container.active-popup{
    transform: scale(1);
}
#Hlens {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
    order: 1;
    text-align: center;
    color: #162938;
    font-size: 15rem;
    font-weight: 700;
    padding-right: 450px;
}

#lensInfo {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
    order: 2;
    color: #162938;
    font-size:20px;
    font-weight: 400;
    text-align: center;
    max-width: 500px;
}

/*Assessment Page*/

#quiz-container {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background: transparent;
    border-radius: 24px;
    border: 3px solid rgba(257, 257, 257, .4);
    backdrop-filter: blur(25px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100ox 0px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all ease .35s;

  }

  #question {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .option {
    cursor: pointer;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 4px;
    background-color: #59baff;
    color: white;
    transition: background-color 0.3s ease-in-out;
  }

  .option:hover {
    background-color: #2980b9;
  }

  #nextButton{
    color: #162938;
    border: 1px solid #162938;
    border-radius: 4px;
    margin-top: 10px;
    padding: 3px 3px 3px 3px;
  }

  #result {
    margin-top: 20px;
    font-weight: bold;
  }
